body {
  font-family: "Lucida Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #38281E;
  background-color: #fff;
}

h1 ,h2, h3, h4, h5, a, .my-btn, label{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
}

.white-text{
	color: #fff;
}

.jumbotron {
	background: url(../images/coffee-cta.jpg) no-repeat;
	background-size: 100% auto;
}

.navbar {
	position: relative;
	background-color: #B5ABA3;
	min-height: 50px;
	padding: 35px;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	border-bottom: 3px solid #663451;
	color: #663451;
}

.navbar-default .navbar-nav > li > a{
	color: #38281E;
	font-weight: 600;
	font-size: 16px;
	border-bottom: 3px solid transparent;
}

.jumbotron h1, .jumbotron h3 {
	color: #fff;
}

#about img{
	margin-left: -40px;
}

.my-btn{
	background-color: #E89C30;
	color: #fff;
	display: inline-block;
	padding: 8px 18px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
  		-ms-touch-action: manipulation;
     	touch-action: manipulation;
  	cursor: pointer;
  		-webkit-user-select: none;
     	-moz-user-select: none;
      	-ms-user-select: none;
          	user-select: none;
	 border: 5px solid transparent;
}

.my-btn:hover{
	background-color: #E5AD6A;
	border: 5px solid #E89C30;
	color: #fff;
	display: inline-block;
	padding: 8px 18px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
  		-ms-touch-action: manipulation;
     	touch-action: manipulation;
  	cursor: pointer;
  		-webkit-user-select: none;
     	-moz-user-select: none;
      	-ms-user-select: none;
          	user-select: none;
}

.my-btn:active{
	background-color: #fff;
	border: 5px solid #E89C30;
	color: #E89C30;
	display: inline-block;
	padding: 8px 18px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
  		-ms-touch-action: manipulation;
     	touch-action: manipulation;
  	cursor: pointer;
  		-webkit-user-select: none;
     	-moz-user-select: none;
      	-ms-user-select: none;
          	user-select: none;
}

.cta-box img{
	display: table;
	margin: 0 auto;
	padding-bottom: 10px;
}
.cta-box{
	padding: 30px;
}

.cta-box p{
	color: #fff;
	text-align: center;
}

.cta-out{
	background-color: #663451;
}

.cta-in{
	background-color: #A48B7A;
}

#cta-info{
	margin-top: -30px;
}

#footer{
	background-color: #B5ABA3;
	padding: 30px;
	list-style-type: none;
}

#footer a, .nav a{
	color: #38281E;
}

#footer li{
	padding: 10px 0;
}

.bright-brown{
	background-color: #A48B7A;
}
.purple{
	background-color: #663451;
}

.section-padding{
	padding:30px 0;
}

#about{
	padding-bottom: 0;
}

.city{  
	margin: 10px;
    float:left; 
    position:relative;
}  
.city-title{  
    position:absolute; 
    margin-top: -68px;
    width:100%;  
    background-color:#E89C30;  
    font-size:15px;  
    color:white;  
} 

.city img:hover{  
	background-color: #E89C30;
	opacity: 0.6;
}  

h2.title_content{  
	text-align: center;
    padding:18px;  
    margin:0px;  
}  


 #map-canvas {
 	margin: 0 auto;
    width: 100%;
    height: 400px;
    background-color: #CCC;
  }

  .map{
  	padding-top: 30px;
  	padding-bottom: 60px;
  }

  .shop-list{
  	width: 30%;
  	background-color: #B5ABA3;
  	margin: 15px;
  	padding: 10px;
  	float: left;
  }

  .list-view{
  	padding: 30px 0;
  }

 .shop-list h2{
 	border-bottom: 2px #663451 solid;
 	padding: 5px;
 }

 .shop-list p, .shop-list h2 {
 	text-align: center;
 }

 .shop-list button{
 	margin: 0 23%;
 }

 #image-gallery img{
 	margin: 10px;

 }

 #shop-details{
 	padding: 30px 0;
 }

 .box-btn{
 	width: 300px;
 	height: 200px;
 	background-color: #E89C30;
 	text-align: center;
 	border: 5px solid transparent;
 	margin-left: -4px;
 	margin-top: 30px;
 }

 .box-btn:hover{
 	background-color: #E5AD6A;
	border: 5px solid #E89C30;
 }

 .box-btn h2{
 	padding: 60px 0;
 }

#cities-section{
	padding: 30px 0 60px 0;
}

#login {
	padding: 30px 0 60px 0;
}

